<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        var alertMsg = [[${alertMsg}]]
        var redirectUrl = [[${redirectUrl}]]

        if(alertMsg.length > 0) {
            alert(alertMsg);
        }

        if(redirectUrl.length > 0) {
            top.location.href = redirectUrl;
        } else {
            top.location.href = "";
        }
    </script>
</head>
<body>

</body>
</html>